
* {
    box-sizing: border-box;
}

body {
    height:  100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(0deg, rgb(86, 99, 219) 24%, rgb(252,221,221) 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.musicContainer {
    background-color:  white;
    border-radius: 15px;
    box-shadow: 0 20px 80px 0 rgba(250, 99, 251);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 5;
}

.imgContainer {
    position: relative;
    width: 120px;
}

.imgContainer::after {
    content: '';
    background-color: white;
    height:  20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.imgContainer img {
    width: inherit;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 0;

    animation: rotate 3s linear infinite;

    animation-play-state: paused;
    
}

.musicContainer.play .imgContainer img {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionBtn {
    background-color: white;
    color: grey;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
}

.actionBtnBig {
    color: black;
    font-size: 30px;
    z-index: 10;
}

.musicInfo {
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    padding: 10px 10px 10px 150px;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.musicInfo h4 {
    margin: 0;
}

.musicContainer.play .musicInfo {
    opacity: 1;
    transform: translateY(-100%);
}

.progressContainer {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress {
    background-color: pink;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}